.columna{
    min-width: 200px;
}

.columna-header{
    background-color: rgb(137, 208, 255);
    border-color: black;
    border-width: 2px; 
}

.columna-content{
    display: flex;
    justify-content: center;
    border-color: black;
    border-width: 1px;
}

